<%= form_for(@hero_descriptor) do |f| %>
  <% if @hero_descriptor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hero_descriptor.errors.count, "error") %> prohibited this hero_descriptor from being saved:</h2>

      <ul>
      <% @hero_descriptor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :heroid %><br>
    <%= f.text_field :heroid %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lvl %><br>
    <%= f.text_field :lvl %>
  </div>
  <div class="field">
    <%= f.label :mood %><br>
    <%= f.text_field :mood %>
  </div>
  <div class="field">
    <%= f.label :map %><br>
    <%= f.text_area :map %>
  </div>
  <div class="field">
    <%= f.label :pack_max_size %><br>
    <%= f.text_field :pack_max_size %>
  </div>
  <div class="field">
    <%= f.label :exp %><br>
    <%= f.text_field :exp %>
  </div>
  <div class="field">
    <%= f.label :exp_to_next_lvl %><br>
    <%= f.text_field :exp_to_next_lvl %>
  </div>
  <div class="field">
    <%= f.label :x %><br>
    <%= f.text_field :x %>
  </div>
  <div class="field">
    <%= f.label :y %><br>
    <%= f.text_field :y %>
  </div>
  <div class="field">
    <%= f.label :class %><br>
    <%= f.text_field :class %>
  </div>
  <div class="field">
    <%= f.label :race %><br>
    <%= f.text_field :race %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
