<p id="notice"><%= notice %></p>

<p>
  <strong>Heroid:</strong>
  <%= @hero_descriptor.heroid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @hero_descriptor.name %>
</p>

<p>
  <strong>Lvl:</strong>
  <%= @hero_descriptor.lvl %>
</p>

<p>
  <strong>Mood:</strong>
  <%= @hero_descriptor.mood %>
</p>

<p>
  <strong>Map:</strong>
  <%= @hero_descriptor.map %>
</p>

<p>
  <strong>Pack max size:</strong>
  <%= @hero_descriptor.pack_max_size %>
</p>

<p>
  <strong>Exp:</strong>
  <%= @hero_descriptor.exp %>
</p>

<p>
  <strong>Exp to next lvl:</strong>
  <%= @hero_descriptor.exp_to_next_lvl %>
</p>

<p>
  <strong>X:</strong>
  <%= @hero_descriptor.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @hero_descriptor.y %>
</p>

<p>
  <strong>Class:</strong>
  <%= @hero_descriptor.class %>
</p>

<p>
  <strong>Race:</strong>
  <%= @hero_descriptor.race %>
</p>

<%= link_to 'Edit', edit_hero_descriptor_path(@hero_descriptor) %> |
<%= link_to 'Back', hero_descriptors_path %>
