<h1>Listing hero_descs</h1>

<table>
  <thead>
    <tr>
      <th>Heroid</th>
      <th>Name</th>
      <th>Lvl</th>
      <th>Mood</th>
      <th>Pack max size</th>
      <th>Exp</th>
      <th>Exp to next lvl</th>
      <th>X</th>
      <th>Y</th>
      <th>Class</th>
      <th>Race</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hero_descs.each do |hero_desc| %>
      <tr>
        <td><%= hero_desc.heroid %></td>
        <td><%= hero_desc.name %></td>
        <td><%= hero_desc.lvl %></td>
        <td><%= hero_desc.mood %></td>
        <td><%= hero_desc.pack_max_size %></td>
        <td><%= hero_desc.exp %></td>
        <td><%= hero_desc.exp_to_next_lvl %></td>
        <td><%= hero_desc.x %></td>
        <td><%= hero_desc.y %></td>
        <td><%= hero_desc.class %></td>
        <td><%= hero_desc.race %></td>
        <td><%= link_to 'Show', hero_desc %></td>
        <td><%= link_to 'Edit', edit_hero_desc_path(hero_desc) %></td>
        <td><%= link_to 'Destroy', hero_desc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hero desc', new_hero_desc_path %>
